<div class="box-margin">
  <h2>Your Name is : {{ hero.name }}</h2>
  <p>{{ strOut }}</p>

  <div class="row box-margin">
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name">
    </label>
    <button (click)="get_greetings(hero.name)">Say Hello To Me</button>
  </div>
</div>